.color-1 {
    color:#fc6a4d;
}
.color-2 {
    color:#52cad7;
}
.color-3 {
    color:#4cbbc8;
}
.color-4 {
    color:#abdd48;
}
.color-5 {
    color:#fecd85;
}
.color-6 {
    color:#e7be7f;
}
.color-7 {
    color:#16313c;
}
.color-8 {
    color:#1b3945;
}
.color-9 {
    color:#497b90;
}
.color-10 {
    color:#cddfe1;
}
.color-11 {
    color:#f2f1f1;
}
.color-12 {
    color:#a03c3c;
}
.color-13 {
    color:#cf423f;
}
.color-14 {
    color:#e48559;
}
.color-15 {
    color:#fbb592;
}
.color-16 {
    color:#fdd12f;
}
.color-17 {
    color:#998d56;
}
.color-18 {
    color:#fdde31;
}
.color-19 {
    color:#c6ba36;
}
.color-20 {
    color:#717d5a;
}
.color-21 {
    color:#88d877;
}
.color-22 {
    color:#67cf9e;
}
.color-23 {
    color:#9fe1f2;
}
.color-24 {
    color:#34bfe7;
}
.color-25 {
    color:#4e676f;
}
.color-26 {
    color:#62777f;
}
.color-27 {
    color:#426074;
}
.color-28 {
    color:#3b576a;
}
.color-29 {
    color:#334a5a;
}
.color-30 {
    color:#7b282f;
}
.color-31 {
    color:#2eaad9;
}
.color-32 {
    color:#df4d52;
}
.color-33 {
    color:#4975b5;
}
.color-34 {
    color:#e4edfe;
}
.color-35 {
    color:#1faae7;
}
.color-36 {
    color:#d5f3fe;
}
.color-37 {
    color:#83c391;
}
.color-38 {
    color:#b8dabf;
}
.color-39 {
    color:#6dd0cf;
}
.color-40 {
    color:#46a8a7;
}
.color-41 {
    color:#fbb44c;
}
.color-42 {
    color:#ee5a34;
}
.color-43 {
    color:#f3d083;
}
.color-44 {
    color:#fbb44c;
}
.color-45 {
    color:#d3955f;
}
.color-46 {
    color:#e8cbab;
}
.color-47 {
    color:#e0dad1;
}
.color-48 {
    color:#bdb9b4;
}
.color-49 {
    color:#fd80af;
}
.color-50 {
    color:#eb588f;
}
.color-51 {
    color:#4b4560;
}
.color-52 {
    color:#6f85c2;
}
.color-53 {
    color:#ef5a34;
}
.color-54 {
    color:#fd8a6a;
}
.color-55 {
    color:#83c391;
}
.color-56 {
    color:#b8dabf;
}
.color-57 {
    color:#f3d083;
}
.color-58 {
    color:#fae7be;
}
.color-59 {
    color:#49baf4;
}
.color-60 {
    color:#4e375c;
}
.color-61 {
    color:#fefefe;
}
.color-62 {
    color:#55d364;
}
.color-63 {
    color:#6aea7b;
}
.color-64 {
    color:#a7adac;
}
.color-65 {
    color:#3c97ae;
}
.color-66 {
    color:#bbced4;
}
.color-67 {
    color:#637279;
}
.color-68 {
    color:#202932;
}
.color-69 {
    color:#2b333c;
}
.color-70 {
    color:#394048;
}
.color-71 {
    color:#90687e;
}
.color-72 {
    color:#fca9c9;
}
.color-73 {
    color:#e76094;
}
.color-74 {
    color:#b6295f;
}
.color-75 {
    color:#ec98b8;
}
.color-76 {
    color:#c73d71;
}
.color-77 {
    color:#deaf71;
}
.color-78 {
    color:#f1d292;
}
.color-79 {
    color:#b4c937;
}
.color-80 {
    color:#95cbca;
}
.color-81 {
    color:#69a3a4;
}
.color-82 {
    color:#59c1db;
}
.color-83 {
    color:#48bbd8;
}
.color-84 {
    color:#3c4a59;
}
.color-85 {
    color:#414e5d;
}
.color-86 {
    color:#56616e;
}
.color-87 {
    color:#a95d71;
}
.color-88 {
    color:#e6637b;
}
.color-89 {
    color:#763d19;
}
.color-90 {
    color:#f5a829;
}
.color-91 {
    color:#cdb871;
}
.color-92 {
    color:#78a6b6;
}
.color-93 {
    color:#72c8e6;
}
.color-94 {
    color:#394468;
}
.color-95 {
    color:#676987;
}
.color-96 {
    color:#252446;
}
.color-97 {
    color:#55417b;
}
.color-98 {
    color:#5b4478;
}
.color-99 {
    color:#5b4275;
}
.color-100 {
    color:#644e7a;
}
.color-101 {
    color:#9f5f5f;
}
.color-102 {
    color:#c75050;
}
.color-103 {
    color:#da5655;
}
.color-104 {
    color:#f56f6d;
}
.color-105 {
    color:#e59c94;
}
.color-106 {
    color:#efcaad;
}
.color-107 {
    color:#efc363;
}
.color-108 {
    color:#9ab96d;
}
.color-109 {
    color:#a0d15e;
}
.color-110 {
    color:#90b468;
}
.color-111 {
    color:#76aea6;
}
.color-112 {
    color:#a1d8d1;
}
.color-113 {
    color:#89d3cd;
}
.color-114 {
    color:#42a2a0;
}
.color-115 {
    color:#5aaead;
}
.color-116 {
    color:#67c1c0;
}
.color-117 {
    color:#75d0cf;
}
.color-118 {
    color:#507c7e;
}
.color-119 {
    color:#483441;
}
.color-120 {
    color:#a33435;
}
.color-121 {
    color:#452b27;
}
.color-122 {
    color:#a67665;
}
.color-123 {
    color:#e1b199;
}
.color-124 {
    color:#f9d4bf;
}
.color-125 {
    color:#b89a83;
}
.color-126 {
    color:#f8c15c;
}
.color-127 {
    color:#49463c;
}
.color-128 {
    color:#3db6fa;
}
.color-129 {
    color:#437fa7;
}
.color-130 {
    color:#b3d7f4;
}
.color-131 {
    color:#5a626a;
}
.color-132 {
    color:#6da6ed;
}
.color-133 {
    color:#6997e4;
}
.color-134 {
    color:#6a8eda;
}
.color-135 {
    color:#a0b1dd;
}
.color-136 {
    color:#677ed0;
}
.color-137 {
    color:#6473c7;
}
.color-138 {
    color:#434d91;
}
.color-139 {
    color:#6269bf;
}
.color-140 {
    color:#1e1f3a;
}
