div {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 5px;
    border: 1px solid #ccc;
}

div:after {
    counter-increment:section;
    content: counter(section);
    position: absolute; 
    top: 0;
    left: 0;
}

html {
    counter-reset: section;
}