@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,600,600italic,700,800,900);
html, body {
    font-family: 'Exo 2', 'Quicksand', sans-serif;
/*    background-color: #593d6a;*/
    background-color: hsl(198, 49%, 16%);
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:
    radial-gradient(rgb(73, 123, 144), rgba(73, 123, 144, .2) 2px, transparent 40px),
    radial-gradient(rgb(205, 223, 225), rgba(205, 223, 225, .15) 1px, transparent 30px),
    radial-gradient(rgb(76, 187, 200), rgba(76, 187, 200,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,198,200,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
/** Header Navigation 导航标志**/
header.title{
    margin: 10px 0; /* top&bottom: 30px left&right: 0px */ 
    transition: all .5s ease-out;
}
header.title img{
    margin: 10px 0 10px 14px;
}
header.title a h4{ /* main title */
    margin: 10px 0;
    text-shadow: 1px 1px hsl(340, 71%, 58%);
}
header.title h5{ /* main title */
    font-size: 1.4em;
    margin: 16px 0;
    padding: 0 30px;
    text-shadow: 1px 1px hsl(340, 71%, 58%);
}
header.title span.subtitle{
	display: block;/**/
	font-size: 0.6em;
	font-weight: 200;
    color: hsl(340, 80%, 66%);
    text-shadow: 1px 1px #fff;
}

/* instructor toggle button fixed-action-btn */
.fixed-action-btn{
    width: 56px;
}
.fixed-action-btn .btn-large i{
    font-size: 56px;
}
.btn-floating.btn-large{
    width: 56px;
    height: 56px;
}
.btn-floating.btn-large i{
    line-height: 56px;
}
.btn-floating i 
.fixed-action-btn ul{
    width: 56px;
    left: 3px;
}
div.guideImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/floatingGuide.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment:fixed;
    background-position:center; 
    background-size: cover;
}
/* buttonGroup */
div.buttonGroup{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
div.buttonGroup .row{
    width: 100%;
    margin-bottom: 0;
}
div.buttonGroup #country{
    margin-top: 90px;
}
div.buttonGroup #nextview{
    background-color: transparent;
}

/*** SVG Main Map ***/
.mapcontainer{
/*    padding-left: 150px;*/
    text-align: center;
}
.mapcontainer .map{
    position: relative;
    bottom: 50px;
    padding: 0;
}
/** Step1 country panel **/

.card .card-content .card-title{
    line-height: 40px;
}
.buttonGroup #country{
    margin-bottom: 0;
}
.buttonGroup #country .card-content{
    margin-bottom: 0;
    width: 100%;
}
.buttonGroup #country span#step1{
    font-weight: 400;
    text-shadow: 1px 1px #ad1457;
}
.buttonGroup #country span#step1{
    font-weight: 400;
}
/** Tooltip **/
.buttonGroup #country .countryname{
    min-height: 60px;
    padding: 0;
}

.buttonGroup #country .countryname div.tooltip {
	color: hsl(262, 23%, 34%);
	padding: 0.5em 0.5em; 
	opacity: 0.9; 
	text-align: center;
	font-size: 1.4em;
}
/** Step2 button group **/
.buttonGroup #nextview a#onWall, .buttonGroup #nextview a#onPhone{
    height: 40px;
    line-height: 40px;
    width: 210px;
}
.buttonGroup #nextview{
    margin-bottom: 15px;
}
.buttonGroup #nextview #nexttitle{
    text-shadow: 1px 1px #880e4f;
}
.buttonGroup #nextview a#onPhone{
    margin-bottom: 0;
}
.buttonGroup #nextview a#onWall:hover, .buttonGroup #nextview a#onPhone:hover{
    color: #fff;
}

/** svg elements **/
svg{
/*  -webkit-margin-before: 1em;
    -webkit-margin-end: 1em; */
    border: 1px solid #DEDEDE;
    margin: 0.5em auto;
    text-align: center;
}

text{
/*    fill: #01579b;*/
    fill: #fff;
    opacity: 1;
	text-shadow: 1px 1px 1px #444;
	font-weight: 700;
}

.land {  /*  fill: white;*/
    fill: hsl(79, 69%, 57%);
    stroke-opacity: 1;
}

/* country path */ 
.countries path {
    stroke: #1B3945;  
    stroke-linejoin: round;
    stroke-width:1;
    fill: white;
    opacity: .1;
}
.countries path:hover {
    fill-opacity:.3;
    stroke-width:1.4;
    opacity: 0.8;
    stroke: #fff;
    fill: #1D4758;
}
/**  countries border  **/
.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width:.5;
  opacity:0.6;
}

.labels {
    font-family: 'Exo 2',sans-serif;
    font: 12px;
    fill: #fff;
    opacity: .8;
}

.noclicks {
  pointer-events:none;
}

.point{
  opacity:.8;
}

/** d3 geo global **/
#infoBox{
    max-width: 310px;
    margin-right: 10px;
    padding: 0;
}

a.btn-large{
    color: #fff8e1;
}

/** Intruduction-Panel **/
.card .card-content{
	padding: 5px 15px;
}

.card .card-content h3{
	margin: 5px 0;
	line-height: 20px;
}

.card .card-content h5{
	margin:0;
    font-size: 1.4em;
    font-weight: 700;
}

.card .card-content .row{
	margin-bottom: 0;
}
#int-icon{
	margin-bottom: 0;
}
#int-icon i{
	font-size: 1.2em;
}

.card .card-panel{
	padding: 0px 5px;
}

.card .card-action{
	padding: 10px 15px;
}
.card .card-action a{
	margin-right: 0;
}

/** Introduction **/
.card-panel h5{
	margin: 0.2em 0;
}
#introduction h3{
    font-weight: 700;
}
#introduction p{
    font-size: 0.8em;
}
#introduction p em{
    font-size: 0.9em;
    font-weight: 700;
}
#intro-p p:first-child{
    font-size: 1em;
    //color: #ec407a;
    padding-bottom: 5px;
}
#intro-p p:first-child span{
    font-weight: 700;
}
/** int-icon **/
#int-icon{
	padding: 5px 10px;
	
}

/** Tooltip **/
/*
div.tooltip {
	color: hsl(262, 23%, 34%);
	padding: 0.5em 0.5em; 
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 2px; 
	box-shadow: 0px 0px 2px 0px #a6a6a6; 
	opacity: 0.9; 
      position: absolute;
	text-align: center;
	font-size: 1.4em;
    
}
*/

/** footer **/
div#footer{
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
/*    background-color: #4E375C;*/
    background-color: #fff;
    width: 100%;
    height: 36px;/*脚部的高度*/
    clear:both;
}