@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,600,600italic,700,800,900);
html, body {
    font-family: 'Exo 2', 'Quicksand', sans-serif;
/*    background-color: #593d6a;*/
    background-color: hsl(198, 49%, 16%);
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:
    radial-gradient(rgb(73, 123, 144), rgba(73, 123, 144, .2) 2px, transparent 40px),
    radial-gradient(rgb(205, 223, 225), rgba(205, 223, 225, .15) 1px, transparent 30px),
    radial-gradient(rgb(76, 187, 200), rgba(76, 187, 200,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,198,200,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
/** Header Navigation 导航标志**/
header.title{
    margin: 10px 0; /* top&bottom: 30px left&right: 0px */ 
    transition: all .5s ease-out;
}
header.title img{
    margin: 10px 0 10px 14px;
}
header.title a h4{ /* main title */
    margin: 10px 0;
    text-shadow: 1px 1px hsl(340, 71%, 58%);
}
header.title h5{ /* main title */
    font-size: 1.4em;
    margin: 16px 0;
    padding: 0 30px;
    text-shadow: 1px 1px hsl(340, 71%, 58%);
}
header.title span.subtitle{
	display: block;/**/
	font-size: 0.6em;
	font-weight: 200;
    color: hsl(340, 80%, 66%);
    text-shadow: 1px 1px #fff;
}

/* instructor toggle button fixed-action-btn */
.fixed-action-btn{
    width: 56px;
}
.fixed-action-btn .btn-large i{
    font-size: 56px;
}
.btn-floating.btn-large{
    width: 56px;
    height: 56px;
}
.btn-floating.btn-large i{
    line-height: 56px;
}
.btn-floating i {
}
.fixed-action-btn ul{
    width: 56px;
    left: 3px;
}
div.guideImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/floatingGuide.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment:fixed;
    background-position:center; 
    background-size: cover;
}

/** Step1 country panel **/
div#selectedCountry .card-content{
	padding: 10px 20px;
}
div#selectedCountry .card-title h5{
	font-weight: 500;
	font-size: 1.3em;
}
div#selectedCountry .card-title #step1{
	font-weight: 300;
	font-size: 1em;
}
div#selectedCountry .card-panel{
	padding: 10px 20px;
	text-align: center;
}
div#selectedCountry .countryname{
/*	min-height: 30px;*/
	font-size: 1.4em;
	color: hsl(262, 23%, 34%);
}

/** Step2 button group **/
div#qrView #qrGuide .card-title{
	text-align: left;
}
div#qrView #qrGuide #step2{
	font-size: 1em;
}
div#qrView #qrGuide .card-title p{
	font-size: 0.8em;
	  line-height:15px;
}
div#qrView #qrGuide{
	text-align: center;
}
div#qrView #qrGuide .card-panel{
	margin: 10px auto;
	width: 140px;
	height: 140px;
}