.color-1 {
    color: hsl(185, 63%, 58%);
}
.color-2 {
    color: hsl(79, 69%, 57%);
}
.color-3 {
    color: hsl(35, 100%, 76%);
}
.color-4 {
    color: hsl(198, 49%, 16%);
}
.color-5 {
    color: hsl(198, 44%, 19%);
}
.color-6 {
    color: hsl(196, 40%, 26%);
}
.color-7 {
    color: hsl(196, 33%, 36%);
}
.color-8 {
    color: hsl(10, 99%, 64%);
}
.color-9 {
    color: hsl(186, 26%, 84%);
}
.color-10 {
    color: hsl(186, 22%, 75%);
}
.color-11 {
    color: hsl(197, 90%, 55%);
}
.color-12 {
    color: hsl(210, 38%, 46%);
}
.color-13 {
    color: hsl(9, 73%, 50%);
}
.color-14 {
    color: hsl(10, 99%, 64%);
}
