.color-1 {
    color: hsl(185, 63%, 58%);
}
.color-2 {/*  green */
    color: hsl(79, 69%, 57%); 
}
.color-3 { /*  light pink  */
    color: hsl(340, 80%, 76%);
}
.color-4 {
    color: hsl(340, 71%, 58%);
}
.color-5 { /* purple */
    color: hsl(262, 23%, 34%);
}
.color-6 { /* dark blue - bg */
    color: hsl(198, 49%, 16%);
}
.color-7 { /* pure pink */
    color: hsl(340, 100%, 63%);
}
.color-8 { /* purple 2 */
    color: hsl(278, 26%, 35%);
}
.color-9 {
    color: hsl(338, 61%, 53%);
}
.color-10 {
    color: hsl(340, 80%, 66%);
}
.color-11 {
    color: hsl(340, 80%, 76%);
}
.color-12 {
    color: hsl(337, 81%, 65%);
}
.color-13 {
    color: hsl(38, 94%, 55%);
}
.color-14 {
    color: hsl(195, 71%, 67%);
}
.color-15 {
    color: hsl(79, 69%, 57%);
}
