.color-1 {
    color:#d93f34;
}
.color-2 {
    color:#e3831c;
}
.color-3 {
    color:#8cb82a;
}
.color-4 {
    color:#35ba95;
}
.color-5 {
    color:#2ea3b0;
}
.color-6 {
    color:#359dba;
}
.color-7 {
    color:#823ea0;
}
.color-8 {
    color:#122f45;
}
.color-9 {
    color:#0e283a;
}
.color-10 {
    color:#ffffff;
}
.color-11 {
    color:#e1e1e1;
}
